<div id="loading-block" style="display: none;">Загрузка...</div>
<div id="filter-block" style="display: block;">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>
